<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Rental Bike</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="main-content">
      <header class="hero">
        <% if(bookings.length === 0){%>
        <h1>There are no rental bikes</h1>
        <a href="/users/<%= user._id %>/rental/new" class="btn primary-btn"
          >You can Rental bike now</a
        >
        <% } else{%>
        <h1>Your Rental Bike</h1>
        <a href="/users/<%= user._id %>/rental/new" class="btn primary-btn"
          >Rent New Bike</a
        ><%}%>
      </header>
      <ul class="booking-list">
        <% bookings.forEach(booking => { %>
        <li class="booking-item">
          <div class="bike-image">
            <img
              src="<%= imges[booking.bike[0].type] %>"
              alt="<%= booking.bike[0].type %> Bike Image"
            />
          </div>
          <div class="booking-info">
            <h2>
              <%= booking.bike[0].company %> - <%= booking.bike[0].type %>
            </h2>
            <p><strong>Address:</strong> <%= booking.adders %></p>
            <p>
              <strong>Start Date:</strong> <%=
              booking.fristdate.toISOString().split('T')[0] %>
            </p>
            <p>
              <strong>End Date:</strong> <%=
              booking.lastdate.toISOString().split('T')[0] %>
            </p>
            <a
              href="/users/<%= user._id %>/rental/<%= booking._id %>"
              class="btn secondary-btn"
              >View Details</a
            >
          </div>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
