<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Booking Details</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <main class="booking-details">
      <div class="booking-header">
        <h1>
          Company: <%= booking.bike[0].company %> - Type: <%=
          booking.bike[0].type %>
        </h1>
        <h2>Colour: <%= booking.bike[0].color %></h2>
      </div>

      <div class="booking-info">
        <div class="info-container">
          <div class="info-text">
            <p><strong>Address:</strong> <%= booking.adders %></p>
            <p>
              <strong>Start Date:</strong> <%=
              booking.fristdate.toISOString().split('T')[0] %>
            </p>
            <p>
              <strong>End Date:</strong> <%=
              booking.lastdate.toISOString().split('T')[0] %>
            </p>
          </div>
          <div class="bike-image">
            <img
              src="<%= imges[booking.bike[0].type] %>"
              alt="<%= booking.bike[0].type %> Bike Image"
            />
          </div>
        </div>
      </div>

      <div class="buttons">
        <a
          href="/users/<%= user._id %>/rental/<%= booking._id %>/edit"
          class="btn btn-edit"
        >
          Edit this Application
        </a>

        <form
          action="/users/<%= user._id %>/rental/<%= booking._id %>?_method=DELETE"
          method="post"
        >
          <button type="submit" class="btn btn-delete">
            Delete this Rental
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
